body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    display: grid;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3.5%;
    grid-template-rows: 1fr 3fr;
    gap: 10px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
    background-color: navy;
    color: white;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 10px 10px 0 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #81e2ff;
    border: none;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn:hover {
        background-color: #a3e0ff;
    }


.btn-equal {
    background-color: orange;
    grid-row: span 2; 
    color: white;
    font-size: 1.2em;
}

    .btn-equal:hover {
        background-color: darkorange;
    }

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #333;
}
